//- extends layout

doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/register') Register
        li
          a(href='/login') Login
    block content