

block content
  h1 Your Cart
  if !cart.length
    p Your cart is empty.
  else
    table
      thead
        tr
          th Product Name
          th Price
      tbody
        each product in cart
          tr
            td= product.name
            td= product.price
    a(href="/checkout") Checkout